<app-footer _ngcontent-serverapp-c151="" _nghost-serverapp-c78="">
    <footer _ngcontent-serverapp-c78="">
        <ul _ngcontent-serverapp-c78="" class="inline-flex h-full w-full uppercase">

            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs" href="/">
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl far fa-home-alt isActive <%=(dataPage.location=='home')?'text-customized-text-tertiary':'';%>"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap <%=(dataPage.location=='home')?'text-customized-text-tertiary':'';%>">Trang
                        Chủ</span>
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs chat" href="<%=dataPage.session.siteConfig.contact.telegram;%>">
                    <div _ngcontent-serverapp-c78="" chatlink="" class="line-chat"></div>
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl far fa-comment-dots isActive text-customized-text-tertiary"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap text-customized-text-tertiary">CSKH 24/7</span>
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs" href="/download-app">
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl fal fa-download <%=(dataPage.location=='promotions')?'text-customized-text-tertiary':'';%>"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap <%=(dataPage.location=='promotions')?'text-customized-text-tertiary':'';%>">Tải App</span>
                </a>
            </li>

            <!-- <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs" href="/game/baccarat">
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl fas fa-spade <%=(dataPage.location=='discount')?'text-customized-text-tertiary':'';%>"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap <%=(dataPage.location=='discount')?'text-customized-text-tertiary':'';%>">Baccarat</span>
                </a>
            </li>
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs chat" href="/game/xocdia">
                    <div _ngcontent-serverapp-c78="" chatlink="" class="line-chat"></div>
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl far fa-gamepad isActive text-customized-text-tertiary"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap text-customized-text-tertiary">Xóc Đĩa</span>
                </a>
            </li> -->
            <!-- <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs" href="/Promotion">
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl fal fa-gift <%=(dataPage.location=='promotions')?'text-customized-text-tertiary':'';%>"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap <%=(dataPage.location=='promotions')?'text-customized-text-tertiary':'';%>">Khuyến
                        mại</span>
                </a>
            </li> -->
            <li _ngcontent-serverapp-c78="" class="relative flex flex-1 items-center justify-center">
                <a _ngcontent-serverapp-c78="" class="relative text-center text-xs" href="/account">
                    <i _ngcontent-serverapp-c78="" routerlinkactive=""
                        class="relative mx-auto mb-1 block h-6 w-8 text-xl far fa-user <%=(dataPage.location=='user_menu')?'text-customized-text-tertiary':'';%>"></i>
                    <span _ngcontent-serverapp-c78="" routerlinkactive="text-customized-text-tertiary"
                        class="whitespace-nowrap <%=(dataPage.location=='user_menu')?'text-customized-text-tertiary':'';%>">Thành
                        viên</span>
                </a>
            </li>
        </ul>
    </footer>
</app-footer>